static/uploads/*
!static/uploads/.gitkeep
.venv/
venv/
.env.prod
data/instance/*
!data/instance/.gitkeep
data/uploads/*
!data/uploads/.gitkeep
backups/
Dockerfile
docker-compose.yml
docker-compose.prod.yml
.env.prod.example
deploy/
DEPLOYMENT.ru.md
privatekey-1007603.pem
.dockerignore
