/*
 * Файл: `static/css/main.css`.
 * Назначение: Главный агрегирующий CSS-файл с импортом модульных стилей.
 */

@import url('./main/base.css');
@import url('./main/typography.css');
@import url('./main/faq.css');
@import url('./main/layout.css');
@import url('./main/header.css');
@import url('./main/buttons.css');
@import url('./main/forms.css');
@import url('./main/palette.css');
@import url('./main/modal.css');
@import url('./main/upload-zone.css');
@import url('./main/footer.css');
@import url('./main/utilities.css');
@import url('./main/responsive.css');
